---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/WorkspaceLayout.astro";
import Dashboard from "../../components/Workspace/Dashboard";

changeLanguage("en");
---

<Layout>
  <div
    class="flex items-center justify-center rounded-xl bg-gray-50 border-2 border-dashed border-gray-200 text-gray-400 py-64 dark:bg-gray-800 dark:border-gray-700"
  >
    <Dashboard client:only="react" />
  </div>
</Layout>
